@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

@layer base {
  :root {
    --bg-color: #000103;
    --text-color: #f1f5f9;
    --accent-color: #a855f7;
  }
  body {
    @apply antialiased bg-[var(--bg-color)] text-[var(--text-color)];
  }
}
